

body {
	color: #fff;
	background-color: #000;
	background: #000 url(../images/background_slice2.png) repeat-x;
	text-align: center;
}

a {
	color: #000066;
}

a:hover {
	color: #fff;
}

#container {
	margin: 0 auto;
	background-image: url(../images/background_gradient2.png);
	background-repeat: no-repeat;
	width: 960px;
	min-height: 250px;
	text-align: left;
	position:
}

/*-------------------------------------------
HEADER
---------------------------------------------*/

#header {
	height: 125px;
	margin-bottom: 20px;
}

#logo {
	height: 100px;
	float: left;
}

#logo img {
	height: 125px;
	padding-left: 20px;
}



/*-------------------------------------------
WRAPPER
---------------------------------------------*/


/*-------------------------------------------
NAV
---------------------------------------------*/
#nav {
	margin: 20px auto;
}

#nav h2 {
	color: #fff;
	text-align: center;
}

#nav ul li {
	list-style: none;
	display: inline;
	padding: 10px 15px;
	font-size: 1.2em;
}

#nav ul li.current {
	font-style: italic;
	font-weight: bold;
}

#nav ul li a {
	text-decoration: none;
	color: #fff;
}

#nav ul li a:hover {
	color: #666;
}


/*-------------------------------------------
SLIDESHOW
---------------------------------------------*/
#slideshow {
	height: 335px;
	background-color: white;
	margin: 0 auto;
}

#slideshow-text {
	margin-top: 25px;
	padding-left: 20px;
}
#slideshow-text p {
	color: #666;
	padding: 5px;
	margin: 5px;
	font-size: 1.2em;
}

#slideshow-text h1 {
	text-align: left;
	padding-left: 15px;
}
#slideshow-text h1 span {
	font: 125% "Helvetica", "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	font-weight: bold;

}

#slideshow-pic {
	width: 500px;
	height: 291px;
	float: left;
	position: relative;
	overflow: hidden;
	color: #fff;
	padding-top: 20px;
	margin-left: 40px;
}

#slideshow-pic h2 {
	color: #fff;
}

#slideshow-pic p {
	line-height: 1.2em;
	margin-bottom: 0;
}

#slideshow-pic .desc {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: none;
}

#slideshow-pic .block {
	padding-left: 20px;
	padding-top: 20px;
	text-align: left;
	width: 500px;
	height: 85px;
	background: #111;
	opacity: 0.75;
	-moz-opacity: 0.75;
	filter:alpha(opacity=75);
}

#slideshow-pic a {
	text-decoration: none;
	color: #fff;
}

/*-------------------------------------------
MAIN
---------------------------------------------*/
#main {
	height: 450px;
	background-color: white;
	margin: 0 auto;
}


/*-------------------------------------------
PRODUCTION
---------------------------------------------*/

#movie {
	margin: auto;
	padding: 20px 10px
	
}


/*-- SLIDING THUMBNAILS - NO LONGER IN USE 

#container1 {
	margin: auto;
	clear: both;
	width: 400px;
	height: 140px;
	overflow: hidden;
	position: relative;
}

#container a {
	font-size: 0.8em;
}

#slider { 
	position: absolute;
	margin: auto;
	width: 800px;
	height: 100px;
}

.thumbnails { 
	position: relative;
	margin: 0;
	width: 400px;
	height: 100px;
	float: left;
	overflow: auto;
	display: inline;
}

.thumbnail {
	float: left;
}

.thumb {
	padding: 5px 10px;
}

.caption {
	visibility: hidden;
	font-size: 0.5em;
	text-align: center;
	clear: both;
}

.show-me {
	visibility: visible;
}
a.shiftleft:hover, a.shiftright:hover { color: #000066;}

a.shiftleft {
	margin-left: 300px;
}

#circles {
	margin: auto;
}
#circles.left {
	width: 33px;
	height: 13px;
	background: white url(pics/circles.png) 0px 0px no-repeat;
	background-position: 0 -14px;
	overflow: hidden;
}

#circles.right {
	width: 33px;
	height: 14px;
	background: white url(pics/circles.png) 0px 0px no-repeat;
	background-position: 0 -1px;
	overflow: hidden;
}
--*/


/*-------------------------------------------
ABOUT_US
---------------------------------------------*/
#pics {

}

#pics a {
	font: 75% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	float: right;
	padding-right: 20px;
}

#pics a:hover {
	color: #222;
}

#glenn, #mara,#andrew,#eric {
	width: 700px;
	padding: 20px;
}

.inmate {

}

.headshot {
	border: 1px dotted gray;
	padding: 5px;
	background-color: white;
	float: right;
	margin: 2px 10px;
}

.headshot img {
	height: 150px;
	width: 150px;
}

.separator {
	border-bottom: 2px solid gray;
	width: 30%;
	margin-left: 200px;
}

.info ul li {
	list-style: none;
	font-size: 0.8em;
}

.list-first {
	float: left;
	padding-right: 60px;
	border: 1px solid red;
}

.list-second {
	border: 1px solid green;
}


/*-------------------------------------------
footer
---------------------------------------------*/

#footer {
		height: 50px;
		clear: both;
		margin-top: 40px;
}

#footer a {
	text-decoration: none;
	color: #fff;
}

#footer p {
	font: 100% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	color: #888;
	text-align: center;
}